{% extends "base.html" %}
{% block title %}Apply Reimbursement{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">New Reimbursement</div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">{{ form.amount.label_tag }} {{ form.amount }}</div>
      <div class="mb-3">{{ form.category.label_tag }} {{ form.category }}</div>
      <div class="mb-3">{{ form.bill.label_tag }} {{ form.bill }}</div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}