# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtualenvs ---
.venv/
venv/
env/

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Editors/IDE ---
.vscode/
.idea/

# --- Django build/runtime ---
/staticfiles/
/media/
logs/
django.log
backup.json

# --- Local config & secrets ---
.env
ems-software-*.json
*.key
*.pem

# --- Node/Front-end (if any) ---
node_modules/
celerybeat-schedule*
db/*.sqlite3
media/
