{% load users_permissions %}
{# Admin Edit button snippet. Requires 'leave_admin_edit' permission. #}

{% if request.user|has_permission:"leave_admin_edit" %}
  {% if leave %}
    <a href="{% url 'admin:leave_leaverequest_change' leave.id %}?_changelist_filters=next={{ next_url|urlencode }}"
       class="btn btn-outline-dark btn-sm"
       title="Open in Admin">
      <i class="fa-solid fa-wrench"></i>
    </a>
  {% else %}
    <a href="{% url 'admin:leave_leaverequest_changelist' %}"
       class="btn btn-outline-dark btn-sm"
       title="Open Leave Requests in Admin">
      <i class="fa-solid fa-wrench"></i>
    </a>
  {% endif %}
{% endif %}
