{% load users_permissions %}
{# 
  Reusable Admin Edit button.
  Usage: {% include "leave/_admin_edit_button.html" with leave=<LeaveRequest or None> next_url=request.get_full_path %}
  Shows only if user has the "leave_admin_edit" permission (or is superuser).
  If "leave" is provided, goes to that LeaveRequest’s admin change page.
  If "leave" is None, goes to the LeaveRequest changelist.
#}
{% if request.user|has_permission:"leave_admin_edit" %}
  {% if leave %}
    <a href="{% url 'admin:leave_leaverequest_change' leave.id %}?_changelist_filters=next={{ next_url|urlencode }}"
       class="btn btn-outline-dark btn-sm"
       title="Open in Admin">
      <i class="fa-solid fa-wrench"></i>
    </a>
  {% else %}
    <a href="{% url 'admin:leave_leaverequest_changelist' %}"
       class="btn btn-outline-dark btn-sm"
       title="Open Leave Requests in Admin">
      <i class="fa-solid fa-wrench"></i>
    </a>
  {% endif %}
{% endif %}
