{% extends "base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
  <h2 class="mb-4">
    Edit {{ user_obj.get_full_name|default:user_obj.username }}
  </h2>
  <form method="post" class="row g-4">
    {% csrf_token %}

    {# First / Last / Username #}
    <div class="col-md-4">{{ uf.first_name.label_tag }}{{ uf.first_name }}</div>
    <div class="col-md-4">{{ uf.last_name.label_tag }}{{ uf.last_name }}</div>
    <div class="col-md-4">{{ uf.username.label_tag }}{{ uf.username }}</div>

    {# Email / Password / Role #}
    <div class="col-md-4">{{ uf.email.label_tag }}{{ uf.email }}</div>
    <div class="col-md-4">{{ uf.password.label_tag }}{{ uf.password }}</div>
    <div class="col-md-4">{{ pf.role.label_tag }}{{ pf.role }}</div>

    {# Phone / Branch / Department #}
    <div class="col-md-4">{{ pf.phone.label_tag }}{{ pf.phone }}</div>
    <div class="col-md-4">{{ pf.branch.label_tag }}{{ pf.branch }}</div>
    <div class="col-md-4">
      <label class="form-label">{{ pf.department.label }}</label>
      {{ pf.department }}
    </div>

    {# Team Leader #}
    <div class="col-md-4">{{ pf.team_leader.label_tag }}{{ pf.team_leader }}</div>

    {# Permissions #}
    <div class="col-12">
      <hr class="my-4">
      <h5>Select User Privilege</h5>
      <div class="row">
        {% for ch in pf.permissions %}
          <div class="col-sm-4">
            <div class="form-check">
              {{ ch.tag }} {{ ch.choice_label }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {# Actions #}
    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <a href="{% url 'users:list_users' %}" class="btn btn-secondary ms-2">Cancel</a>
    </div>
  </form>
{% endblock %}
