{% extends 'base.html' %}
{% block title %}Add Delegation{% endblock %}
{% block content %}
<h2>Add Delegation</h2>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="row">
    <div class="col-md-4">{{ form.assign_by.label_tag }}{{ form.assign_by }}</div>
    <div class="col-md-4">{{ form.task_name.label_tag }}{{ form.task_name }}</div>
    <div class="col-md-4">{{ form.assign_to.label_tag }}{{ form.assign_to }}</div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">{{ form.planned_date.label_tag }}{{ form.planned_date }}</div>
    <div class="col-md-4">{{ form.priority.label_tag }}{{ form.priority }}</div>
    <div class="col-md-4">{{ form.attachment_mandatory.label_tag }}{{ form.attachment_mandatory }}</div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">{{ form.audio_recording.label_tag }}{{ form.audio_recording }}</div>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
{% endblock %}
