<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Checklist Task Assigned</title>
</head>
<body>
  <p>Hi <b>{{ assign_to.get_full_name }}</b>,</p>
  <p>{{ task.message|default:"You have a new Checklist task assigned to you." }}</p>

  <p>
    <b>Task Title:</b> {{ task.task_name }}<br>
    <b>Task code:</b> {{ task.code|default:task.id }}<br>
    <b>Planned Date:</b> {{ task.planned_date|date:"Y-m-d H:i A" }}<br>
    <b>Priority:</b> {{ task.priority }}
  </p>

  <p>
    <b>Assigned by:</b> {{ assign_by.get_full_name|default:assign_by.username }}
  </p>

  <p>
    Press the button to mark the task as completed.<br>
    <b>Click this link to complete the task with form:</b>
    <a href="{{ complete_url }}" target="_blank">{{ complete_url }}</a>
  </p>
</body>
</html>
