<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Delegation Task Assigned</title>
</head>
<body>
  <p>Hi <b>{{ assign_to.get_full_name }}</b>,</p>
  <p>{{ delegation.message|default:"You have a new Delegation assigned to you." }}</p>

  <p>
    <b>Task Title:</b> {{ delegation.task_name }}<br>
    <b>Task code:</b> {{ delegation.code|default:delegation.id }}<br>
    <b>Planned Date:</b> {{ delegation.planned_date|date:"Y-m-d" }}<br>
    <b>Priority:</b> {{ delegation.priority }}
  </p>

  <p>
    <b>Assigned by:</b> {{ assign_by.get_full_name }}
  </p>

  <p>
    Press the button to mark the task as completed.<br>
    <b>Click this link to complete the task with form:</b>
    <a href="{{ complete_url }}" target="_blank">{{ complete_url }}</a>
  </p>
</body>
</html>
